{
    "database": {
        "hostname": "localhost",
        "port": 5432,
        "username": "devmine",
        "password": "devmine",
        "dbname": "devmine",
        "ssl_mode": "disable"
    },
    "data": {
        "commit_deltas": false,
        "commit_patches": false
    },
	"tmpDir": ""
}
